@model CMSProject.Areas.Admin.Models.Session

@{
    ViewBag.Title = "Details";
}

<!--Start Section Layout-->
<div class="box-header well" data-original-title>
    <h2><i class="icon-user"></i>@ViewBag.CurrentPage</h2>
    @*<div class="box-icon">
							<a href="#" class="btn btn-setting btn-round"><i class="icon-cog"></i></a>
							<a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
							<a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
						</div>*@
</div>
<div class="box-content">

    <section>
        <!----------------------------->


        <fieldset>
            <legend>Session</legend>

            <div class="display-label">
                @Html.DisplayNameFor(model => model.BeneficiaryClass.Name)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.BeneficiaryClass.Name)
            </div>

            <div class="display-label">
                @Html.DisplayNameFor(model => model.InitialDate)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.InitialDate)
            </div>

            <div class="display-label">
                @Html.DisplayNameFor(model => model.EndDate)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.EndDate)
            </div>

            <div class="display-label">
                @Html.DisplayNameFor(model => model.Venue)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Venue)
            </div>

            <div class="display-label">
                @Html.DisplayNameFor(model => model.Place)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Place)
            </div>

            <div class="display-label">
                @Html.DisplayNameFor(model => model.Teacher.Name)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Teacher.Name)
            </div>

            <div class="display-label">
                @Html.DisplayNameFor(model => model.Project.Name)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Project.Name)
            </div>

            <div class="display-label">
                @Html.DisplayNameFor(model => model.SessionStatus.Name)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.SessionStatus.Name)
            </div>
        </fieldset>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.SessionID }) |
    @Html.ActionLink("Back to List", "Index")
        </p>
        <!--Close Section Layout-->
    </section>
</div>
<!---->
