@model CMSProject.Areas.Admin.Models.SessionAttachment

@{
    ViewBag.Title = "Edit";
}

<!--Start Section Layout-->
<div class="box-header well" data-original-title>
    <h2><i class="icon-user"></i>@ViewBag.CurrentPage</h2>
    @*<div class="box-icon">
							<a href="#" class="btn btn-setting btn-round"><i class="icon-cog"></i></a>
							<a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
							<a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
						</div>*@
</div>
<div class="box-content">

    <section>
        <!----------------------------->

        <form action=@Url.Content("~/Admin/SessionAttachment/Edit") class="form-horizontal" method="post" enctype="multipart/form-data">
            @Html.ValidationSummary(true)

            <fieldset>
                <legend>

                </legend>

                @Html.HiddenFor(model => model.SessionAttachmentID)

                <div class="control-group">
                    @Html.LabelFor(model => model.SessionID, "Session", new { @class = "control-label" })
                
                <div class="controls">
                    @Html.DropDownList("SessionID", String.Empty)
                    @Html.ValidationMessageFor(model => model.SessionID)
                </div>
                    </div>
                <div class="control-group">
                    @Html.LabelFor(model => model.AttachedDocumentURL, new { @class = "control-label" })
               
                <div class="controls">
                    @Html.HiddenFor(model => model.AttachedDocumentURL)
                    <input type="file" id="fileToUpload" multiple="multiple" name="files" />
                    @* @Html.ValidationMessageFor(model => model.AttachedDocumentURL)*@
                </div>
                     </div>
                <div class="control-group">
                    @Html.LabelFor(model => model.Description, new { @class = "control-label" })
               
                <div class="controls">
                    @Html.EditorFor(model => model.Description)
                    @Html.ValidationMessageFor(model => model.Description)
                </div>
                     </div>
                <div class="form-actions">
                    <input type="submit" class="btn btn-primary" value="Save" />
                    <button type="reset" class="btn">Clear</button>
                </div>
            </fieldset>
        </form>

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
        <!--Close Section Layout-->
    </section>
</div>
<!---->
