@model CMSProject.Areas.Admin.Models.Organization

@{
    ViewBag.Title = "Edit";
}

<!--Start Section Layout-->
<div class="box-header well" data-original-title>
    <h2><i class="icon-user"></i>@ViewBag.CurrentPage</h2>
    @*<div class="box-icon">
							<a href="#" class="btn btn-setting btn-round"><i class="icon-cog"></i></a>
							<a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
							<a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
						</div>*@
</div>
<div class="box-content">

    <section>
        <!----------------------------->


       <form action=@Url.Content("~/Admin/Organization/Edit") class="form-horizontal" method="post" enctype="multipart/form-data">
            @Html.ValidationSummary(true)

            <fieldset>
                <legend>Organization</legend>

                @Html.HiddenFor(model => model.OrganizationID)

                <div class="control-group">
                    @Html.LabelFor(model => model.Name, new { @class = "control-label" })
                
                <div class="controls">
                    @Html.EditorFor(model => model.Name, new { @class = "span6 typeahead" })
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
                    </div>
                <div class="control-group">
                    @Html.LabelFor(model => model.CommunityID, "Community", new { @class = "control-label" })
               
                <div class="controls">
                    @Html.DropDownList("CommunityID", String.Empty)
                    @Html.ValidationMessageFor(model => model.CommunityID)
                </div>
                     </div>
                <div class="control-group">
                    @Html.LabelFor(model => model.YearOfFormalization, new { @class = "control-label" })
                
                <div class="controls">
                    @Html.EditorFor(model => model.YearOfFormalization, new { @class = "span6 typeahead" })
                    @Html.ValidationMessageFor(model => model.YearOfFormalization)
                </div>
</div>
                <div class="control-group">
                    @Html.LabelFor(model => model.YearofFoundation, new { @class = "control-label" })
               
                <div class="controls">
                    @Html.EditorFor(model => model.YearofFoundation, new { @class = "span6 typeahead" })
                    @Html.ValidationMessageFor(model => model.YearofFoundation)
                </div>
                     </div>
                <div class="control-group">
                    @Html.LabelFor(model => model.NoOfEnrolledMembers, new { @class = "control-label" })
                
                <div class="controls">
                    @Html.EditorFor(model => model.NoOfEnrolledMembers, new { @class = "span6 typeahead" })
                    @Html.ValidationMessageFor(model => model.NoOfEnrolledMembers)
                </div>
                    </div>
                <div class="control-group">
                    @Html.LabelFor(model => model.NoOfActiveMembers, new { @class = "control-label" })
                
                <div class="controls">
                    @Html.EditorFor(model => model.NoOfActiveMembers, new { @class = "span6 typeahead" })
                    @Html.ValidationMessageFor(model => model.NoOfActiveMembers)
                </div>
                    </div>
                <div class="form-actions">
                    <input type="submit" class="btn btn-primary" value="Save" />
                    <button type="reset" class="btn">Clear</button>
                </div>
            </fieldset>
        </form>

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
        <!--Close Section Layout-->
    </section>
</div>
<!---->
